@font-face {
  font-family: 'Samurai';
  src: url('../assets/SpenbebGame-R9q46.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: "DynaPuff", system-ui;
    /* background-image: url("../assets/bg-game.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url("../assets/bg-game.png");

    margin: 0;
    /* height: 100vh; */

}


.logo{
    width: 15em;
    animation: upDown 2s infinite ease-in-out;
}

#gridTxt{
    padding: 0 26px;
    border: none;
    height: 55px;
    background-color: rgb(232, 232, 232);
    border-radius: 40px;
    font-size: 1.2em;
    outline: none;
    border: 2px solid rgb(1, 175, 62);
    
}

.container-data{
    display: flex;
    justify-content: center;
}

.grid-container {
    width: fit-content;
    display: grid;
    gap: 10px;
    margin-top: 10px;
    
  }
  .grid-item {
    
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: none;
    cursor: pointer;
    font-weight: 500;
    color: transparent;

    font-size: 1.2em;
  }

  #totalScore{
    align-content: center;
position: absolute;
right: 0;
padding: 10px 40px;
margin-right: 5%;
font-size: 2.5em;
color: #ffbe0a;
-webkit-text-stroke: 2px rgb(1, 71, 201);
  }
#createGrid{
    padding: 0 16px;
    border: 2px solid rgba(47, 3, 124, 0.326);
    height: 55px;
    background-color: rgb(111, 27, 255);
    border-radius: 40px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.5s ease-in;
    /* animation: upDown 2s infinite ease-in-out; */
    
}

.soundIcon{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.5s ease-in;
}
.soundIcon:hover{
    transform: scale(0.9);
}
.soundOn{
    display: none;
}

.soundOff{
    width: 24px;
}
#createGrid:hover{
    padding: 0 16px;
    border: none;
    height: 55px;
    background-color: rgb(164, 118, 244);
    border-radius: 40px;
    color: white;
    font-size: 1.2em;
    border: 2px solid rgba(47, 3, 124, 0.326);
}

.content{
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    text-align: center;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 4em;
    font-weight: 900;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Move back down */
    }
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Move up */
    }
    100% {
        transform: scale(1); /* Move back down */
    }
}


.resetBtn{
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0 16px;
    border: none;
    height: 55px;
    background-color: rgb(252, 141, 141);
    border-radius: 40px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.resetBtn:hover{
    padding: 0 16px;
    border: none;
    height: 55px;
    background-color: rgb(255, 183, 183);
    border-radius: 40px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.flip-container {
    perspective: 1000px;
  }
  .flip-card {
    width: 80px;
    height: 80px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  .flip-card .front, .flip-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(232, 232, 232);
  }
  .flip-card .front {
    background-color: lightblue;
  }
  .flip-card .back {
    /* background-color: lightcoral; */
    transform: rotateY(180deg);
  }
  .flipped {
    transform: rotateY(180deg);
  }


  .progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 4px;
    margin: 20px 0;
  }
  .progress-bar {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.4s ease, background-color 0.4s ease;
  }

  .container{
    display: none;
  }

  #openDialogButton {
    
    border: 2px solid rgba(76, 33, 151, 0.689);
    height: 55px;
    background-color: #011261;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    animation: scaling 2s infinite ease-in-out;
}

#openDialogButton:hover {
    background-color: #1e3ab7; /* Darker green on hover */
}

.dialog-box {
    width: 400px;
    display: none; /* Hidden by default */
    background: linear-gradient(135deg, #5acd5a, #ffd900);
    border-radius: 40px;
    padding: 20px;
    border: 3px solid rgb(123, 255, 0);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: fixed;
    left: 50%;
    color: rgb(88, 1, 1);
    bottom: -400px;
    transform: translate(-50%,50%);
    transition: bottom 0.5s ease;
}

h2 {
    margin-bottom: 15px;
}

.level-section, .card-type-section {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border 0.3s;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + span {
    border: 2px solid #560101;
    padding: 10px;
    border-radius: 20px;
}

button {
    background-color: #590000;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 36px;
    height: 55px;
    /* font-family: "DynaPuff", system-ui; */
    font-family: "Samurai", sans-serif;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
}

button:hover {
    background-color: #7a0505;
}

.closeBtn{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  align-content: center;
  margin: 20px;
  border-radius: 30px;
  font-size: 2em;
  cursor: pointer;
}